@media only screen and (min-width: 300px) and (max-width: 767px){
  /*    <!--      index.php     -->      */

  .plani-pare {
    padding-top: 5%;
  }

  .sherbimet-globeShopsKarta h3 {
    font-size: 1rem;
  }

  .fundi-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
  }

  .pagesa {
    display: flex;
    flex-direction: column;
  }

  .kartat-kategoriVecuar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }

  .sherbimet-globeShops {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .markatMeTeMira {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: hidden;
  }

  #kartaGjere-infoPosht {
    display: inline-block;
    margin: 0;
  }

  .kartaMadhe-kutiaInfos {
    padding: 5px;
  }

  .naviLart {
    display: none;
  }

  .naviPosht {
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    height: 120px;
    padding: 10px 20px;
    gap: 3%;
  }

  .fundiDy-flex {
    overflow: hidden;
  }

  .butoniDyqani {
    display: none;
  }

  .kartaGjere-foto > img {
    width: 100%;
    position: relative;
  }

  #kartaMadheID {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
  }

  .kartat-e-medha {
    margin-top: 40px;
    grid-auto-columns: calc((100% / 1) - 5%);
  }

  .avantazhet h4 {
    font-size: 1rem;
    padding: 0;
  }

  .kartat-vogla {
    margin-bottom: 30px;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }

  .kartat-plani-pare {
    grid-auto-columns: calc((100% / 1));
  }

  .plani-pare-siper {
    padding: 0 10px;
  }

  .plani-pare-siper p {
    margin-left: 10px;
  }

  .baneriBrendshem > a {
    font-size: 0.8rem;
  }

  .baneri-zi > a {
    font-size: 0.7rem;
  }

  .karta-vogel {
    padding: 15px 5px 5px 5px;
  }

  .karta-vogel > p {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .butonatDjathtas > button,
  .butonatDjathtas > a {
    font-size: 1rem;
  }

  .navbarButoniMajtas {
    display: inline;
    font-size: 1.2rem;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
  }

  .butonatDjathtas {
    display: flex;
  }

  .responsive-row > a > img {
    width: 120px;
    height: 35px;
  }

  .responsive-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .navbarButoni {
    width: 40px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .navbarButoni > p {
    display: none;
  }

  .navMobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbarKerkimi {
    width: 80%;
    position: absolute;
    bottom: 6px;
  }
  .submenu {
    display: none;
  }

  /*    <!--  end off    index.php     -->      */


  /*    <!--      products.php     -->      */
  .marka-majtas {
    display: none !important ;
    background-color: black;
  }

  .kartaMadhe-info > p {
    width: 33%;
    font-size: 10px;
    padding: 3px;
  }

  .products-card-majtas .informacioni-produktit {
    display: none;
  }

  .products-card {
    flex-direction: column;
    height: auto;
  }

  .products-card-product > img {
    width: 70%;
  }

  .products-card-product {
    width: 100%;
    justify-content: center;
  }
  .products-card h3 {
    display: block;
  }

  .tabela {
    min-width: 155px;
    top: 50px;
  }
   /*    <!--   end off   product.php     -->      */


   /*    <!--   end off   product.php     -->      */

    .mbeshtjellsi-produktit {
    flex-direction: column;
  }

  .slideri-produktit-lart {
    justify-content: center;
  }

  .slideri-produktit-posht {
    justify-content: center;
    margin: 10px 10px 0 0;
  }

  .slideri-produktit-lart img {
    width: 70%;
  }

  .slideri-produktit-posht > img {
    width: 15%;
  }

  .slideri-produktit-posht > button {
    margin: 0;
  }

  #slideri-kontentit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .opsionet-blerja-produktit {
    width: 100%;
    display: flex;
  }

  .fundi-menu {
    gap: 20px;
  }

  .opsionet-blerja-cmimet > div * {
    display: flex;
    font-size: 11px;
  }

  .opsionet-blerja-cmimet > div input {
    width: 15px;
    height: 15px;
  }

   /*    <!--   end off   product.php     -->      */



    /*    <!--      suporti-klientit.php     -->      */

  .elementet-baneri {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .inputi {
    width: 100%;
  }

  .inputi ::placeholder {
    font-size: 12px;
  }

  .inputi input {
    width: 180px;
    height: 30px;
  }

  .inputi button {
    width: 30px;
    height: 35px;
  }

  .info {
    height: 80px;
  }

  #prevBtn {
    width: 25px;
    height: 25px;
  }

  #nextBtn {
    width: 25px;
    height: 25px;
  }

  .info p {
    font-size: 13px;
  }

  .mbeshtjellesi {
    width: 70%;
  }

  .carousel p {
    padding: 0 2px;
  }

  .divi-banerit h2 {
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
  }

  .baneri-dyte {
    display: flex;
    flex-direction: column;
  }

  .kontenti {
    width: 100%;
  }

  .toggle-checkbox {
    display: none;
  }

  .kontenti label {
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .kontenti .answer {
    display: none;
    margin-top: 10px;
  }

  .kontenti span {
    font-size: 12px;
  }

  .toggle-checkbox:checked + label + .answer {
    display: block;
    width: 90%;
  }

  .informacioni-kartave {
    display: flex;
    flex-direction: column;
  }

  .kartat-suportit {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }

  .kartat-suportit i {
    padding: 30px 10px;
    font-size: 2rem;
  }

  .kartat-suportit p {
    font-size: 12px;
  }

  .hoveri {
    display: none !important ;
    background-color: red;
  }

  .suport-kontakt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 180px;
    gap: 15px;
  }

  .diviMadh {
    display: none;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
   /*    <!--      index.php     -->      */
   .kartat-kategoriVecuar {
    padding-bottom: 30px;
    grid-template-columns: repeat(4, auto);
    gap: 2px;
  }

  .plani-pare-posht a,
  .plani-pare-posht:last-child {
    padding-top: 30px;
  }

  .kategoria-vecuar {
    padding: 7% 0;
  }

  .plani-pare > p {
    padding-top: 25px;
  }

  .markatMeTeMira {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
  }

  .sherbimet-globeShops {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .kartaGjere-foto {
    width: 287%;
    position: relative;
  }

  .kartaGjere-foto > img {
    width: 115%;
    position: absolute;
    height: 400px;
  }

  #kartaGjere-infoPosht {
    display: block;
    margin-top: 15%;
  }

  .kartat-e-medha {
    grid-auto-columns: calc((100% / 2) - 5%);
  }

  .kartat-plani-pare {
    grid-auto-columns: calc((100% / 2) - 10%);
  }

  .kartat-vogla {
    grid-template-columns: repeat(3, auto);
  }

  .naviLart {
    display: none;
  }

  .naviPosht {
    padding: 20px 30px 20px 30px;
  }

  .navbarButoniMajtas {
    display: none;
  }

  .butonatDjathtas > button > i {
    font-weight: bold;
  }

  .butonatDjathtas > a > .ph::before {
    font-weight: 900;
  }

  .butonatDjathtas > button,
  .butonatDjathtas > a {
    font-size: 1rem;
  }

  .responsive-row {
    flex-direction: row-reverse;
  }

  .navbarButoni > p {
    display: none;
  }

  .navbarButoni {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    border: none;
  }

  .zgjidhDyqanin {
    display: none;
  }

  .navbarButoniMajtas {
    display: inline;
    font-size: 1.2rem;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
  }

  .navMobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbarKerkimi {
    width: 74%;
  }

  .submenu {
    grid-template-columns: repeat(2, auto);
    width: 635px;
  }

  .fundi-menu {
    gap: 30px;
  }

  .pagesa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /*    <!--  end off    index.php     -->      */

   /*    <!--      products.php     -->      */

  .products-rrezultate {
    line-height: 1.3;
  }

  .products-card {
    height: 415px;
    padding-top: 10px;
  }

  .products-card-product > div {
    width: 135px;
    line-height: 13px;
    margin-top: 70px;
  }

  .products-card-product {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
  }

  .products-card-reviewsIMG > img {
    width: 30%;
    height: 24px;
  }

  .products-card-majtas h3 {
    margin-block-start: auto;
  }

  .products-col-btn img {
    width: 50%;
    height: 28px;
  }

  .products-col-btn label p {
    line-height: 10px;
  }

  .marka-majtas {
    display: none;
  }

  .products-card-product > img {
    width: 38%;
  }
  /*      <!-- end off      products.php     -->      */


   /*    <!--      product.php     -->      */

  .mbeshtjellsi-produktit {
    flex-direction: column;
  }

  .slideri-produktit-lart {
    justify-content: center;
  }

  .slideri-produktit-posht {
    justify-content: center;
    margin: 10px 10px 0 0;
  }

  .slideri-produktit-lart img {
    width: 70%;
  }

  .slideri-produktit-posht > img {
    width: 15%;
  }

  .slideri-produktit-posht > button {
    margin: 0;
  }

  #slideri-kontentit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .opsionet-blerja-produktit {
    width: 100%;
    display: flex;
  }

  /*    <!--      suporti-klientit.php     -->      */

  .info #butoni-djathats {
    left: 100px;
  }

  .elementet-baneri {
    padding: 30px;
  }

  .kontenti span {
    font-size: 10px;
  }
  .kontenti span:first-child {
    font-size: 14px;
    font-weight: 900;
  }

  /* .kartat-suportit i{
        font-size: 5rem;
      } */

  .informacioni-kartave {
    grid-template-columns: repeat(2, auto);
  }

  .hoveri {
    width: 280px;
  }

  .mbeshtjellesi {
    width: 80%;
  }

  .suport-kontakt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 180px;
  }

  .ikonat {
    font-size: 20px;
    gap: 10px;
    padding-left: 1px;
  }

  .shape {
    width: 53%;
    padding: 15px 50px 33px 20px;
  }

  .shape p {
    width: 112%;
    display: flex;
    margin-top: 3px;
  }

  .shape h2 {
    font-size: 20px;
  }

}



@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /*    <!--      index.php     -->      */
  .kartat-plani-pare {
    grid-auto-columns: calc((100% / 3) - 1%);
  }

  .naviLart {
    padding: 15px 5px 15px 5px;
  }

  .baneri-blu {
    display: flex;
    max-width: -webkit-fill-available;
  }

  #kartaMadheID {
    height: 350px;
  }

  .kartaGjere-kutia {
    padding: 0% 3% 0 1%;
  }

  #kartaGjere-infoPosht {
    display: flex;
    padding: 5px;
    margin: 5px;
  }

  .kartaGjere-foto {
    width: 220%;
    position: relative;
    right: 23px;
  }

  .kartaGjere-foto > img {
    width: 119%;
    position: relative;
  }

  .markatMeTeMira {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .kartat-vogla {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }

  .karta-vogel img {
    width: 100%;
    height: 70%;
  }

  .karta-vogel p {
    font-weight: 600;
    font-size: 0.8rem;
  }

  .kartat-kategoriVecuar {
    grid-template-columns: repeat(5, 163px);
  }

  .p-faqia,
  .faqjaPare,
  .klub-section,
  .fundiDy {
    padding: 2rem 7%;
  }

  .naviPosht {
    padding: 0 7% 7px 7%;
  }

  .pagesa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .fundi-menu {
    gap: 15px;
  }

  /*    <!--    end off  index.php     -->      */

   /*    <!--      products.php     -->      */

  .products-card {
    height: 480px;
  }

  .products-rrezultate {
    line-height: 30px;
  }

  .products-card-reviewsIMG > img {
    width: 25%;
    height: 25px;
  }

  .products-card-majtas {
    padding: 0 5px;
  }

  .products-card-product > img {
    height: 170px;
    width: 110px;
    padding: 30px 0 0 0;
  }

  .products-card-reviewsIMG {
    position: relative;
    bottom: 65px;
  }

  .products-card-djathtas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3rem;
    width: 100%;
  }

  .tabela {
    min-width: 115px;
  }

  .products-card-djathtas > .opsionet-dorezimi > h4 {
    margin-top: 1rem;
  }

  .products-card-product > div {
    line-height: 1;
  }

  .products-card-product {
    gap: 10%;
  }

  .products-col-btn label {
    line-height: 15px;
  }

  #content-1 input::placeholder {
    font-size: 14px;
  }

  #content-1 input {
    width: 65%;
  }
   /*    <!--      end off    products.php     -->      */


   /*    <!--      product.php     -->      */

  .dergesa-paga-flex {
    flex-direction: column;
  }

  .slideri-produktit-lart img {
    width: 300px;
  }

  .slideri-produktit-posht {
    width: 300px;
  }

  .opsionet-blerja-produktit > a {
    padding-bottom: 20px;
  }

  /*    <!--      suporti-klientit.php     -->      */

  .info #butoni-djathats {
    left: 400px;
  }

  .elementet-baneri {
    padding: 20px;
  }

  .baneri-dyte {
    gap: 5px;
  }

  .kontenti {
    padding: 5px;
  }

  .kontenti span {
    font-size: 15px;
    gap: 10px;
  }

  .kartat-suportit {
    text-align: center;
  }

  .hoveri {
    width: 190px;
  }

  .perKlientin {
    width: 100%;
    gap: 15px;
  }

  .suport-kontakt {
    padding: 10px;
  }

  .shape {
    padding: 15px 0 15px 15px;
  }

  .shape p {
    width: 90%;
    display: flex;
    margin-top: 3px;
  }

  .shape h2 {
    display: flex;
    margin: 5px;
  }

  .ikonat {
    padding-left: 3px;
    font-size: 2rem;
  }

}